body{
    width: 80%;
    margin: 0 auto

}
#overlay{
    height: 450px;
    width: 100%;
    position: relative;
}
#landing{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
    color:white;
}
#logo h2{
    line-height: 3.5px;

}