*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 80%;
    margin: 0 auto;

}
#landing{
    height: 450px;
    width: 100%;
    position: relative;

}
#inner1{
    height:98px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inner2{
    background: orangered;
    color: white;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
    color:white;
}

#logo h2{
    line-height: 3.5px;
}
#div1{
    position: absolute;
    top: 30px;
    left: 50px;

    }

#div1{
    height: 2px;
    width: 30px;
    background-color: white;
    margin: 5px;
}


.landing{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
#div1,#div2,#div3,#div4{
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
}
#inner2{
   background-color: #F15A29;
}


#div2{
    text-align: center;
    background-image: url(./images/breakfast.jpg);
    background-size: cover;
    color: white;
    width: 400px;
    height: 300px;
    object-fit: cover;
    

}
#div3{
    text-align: center;
    background-image: url(./images/lunch.jpg);
    background-size: cover;
    color :white;
    width: 400px;
    height: 300px;
    object-fit: cover;

}
.inner-text4{
    text-align: right;
}
#div4{
    text-align: left;
    background-image: url(./images/dinner.jpg);
    background-size: cover;
    color: white;
    object-fit: cover;
    width: 400px;
    height: 300px;
    float: left;
}
#fasts{
    display: flex;
    width: 70%;
    margin: 10% auto;
    
}
#fast-food{
    display: flex;
    flex-direction: column;
    height: 100%;
    border:10px solid white;
    box-shadow: 1px 1px 15px grey;

}
.inner-text{
    margin-left: 80px;
}
#drinks{
    display: flex;
    width: 70%;
    margin:10% auto;
}
#drink{
    text-align: right;
    position: relative;
    margin-right: 98px;
}
#view{
    display: flex;
    height: 100%;
    border:10px solid white;
    box-shadow: 1px 1px 15px grey;

}
#fastfood10{
    background: url("./images/foodsBg\ \(1\).jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
}
#meal{
    background: white;
    width: 80%;
    margin: 0 auto;

}
#list{
    width: 100%;
    margin:0;
}
#list li{
    text-align: center;
    display:inline-block;
    padding:2%;
    list-style-type: none;
    width: 25%;
    border-right: 1px solid grey;

}
#food{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 300px;
    width: 90%;
}
#list li:first-child{
    color: orangered;
}
#list li:not(:first-child){
    background:lightgrey
}
#images{
    background: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
    position: relative;
    color: white;
}
#customer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;height: 300px;
}
#menu2{
    display: flex;
    justify-content: center;
    text-align: center;
}
#mail{background-image: url(./images/subscribe\ \(1\).jpg);
    background-size: cover;
    height: 400px;
    width: 100%;
    color: white;
    display: flex;
    text-align: center;
}